$backgroundColor : #F6F8FC;
$navbarBackgroundColor: #E9F1FB;
$whiteColor: #fff;
$boxShadowColor: rgba(0, 0, 0, 0.1);
$borderColor: #e1e5e9;
$hoverColor: #E8EAED;
$popoverColor: #dde0e6;
$iconColor: #444746;

body {
    font-family:  Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 1rem;
}
