$backgroundColor : #F6F8FC;
$navbarBackgroundColor: #E9F1FB;
$whiteColor: #fff;
$boxShadowColor: rgba(0, 0, 0, 0.1);
$borderColor: #e1e5e9;
$hoverColor: #E8EAED;
$popoverColor: #dde0e6;
$iconColor: #444746;

body {
    display: flex;
    margin: 0rem;
    background-color: $backgroundColor;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
    margin-right: 1rem;
}
.navbar {
    width: 5%;
    min-width: 4.25rem;
    height: auto;
    display: flex;
    background-color: $navbarBackgroundColor;
    .option {
        list-style: none;
        padding-left: 0rem;
        width: 100%;
        margin: 0rem;
        input {
            display: none;
        }
        li {
            display: flex;
            flex-direction: column;
            margin: 1.25rem auto 0rem auto;
            text-align: center;
            .hamberger-button {
                font-size: 1.375rem;

            }
            i {
                font-size: 1rem;
                margin: 0rem auto 0rem auto;
            }
            
        }
        .first-option {
            margin-top: 1.125rem;
            background-color: #d3e3fd;
            border-radius: 35%;
            width: 2.75rem;
            height: 1.875rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            i {
                margin-top: 1.125rem;
                background-color: #d3e3fd;
                border-radius: 35%;
                width: 2.75rem;
                height: 1.875rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .noti {
                        background-color: #b3261e;
                        position: absolute;
                        bottom: 1rem;
                        left: 1.375rem;
                        font-size: 0.688rem;
                        color:#fff;
                        padding: 0.063rem 0.25rem;
                        font-family: Google Sans;
                        border : 0.125rem solid #b3261e;
                        border-radius: 1.25rem;  
                }
            }
        }
        .option-content {
            i {
                border-radius: 35%;
                width: 2.75rem;
                height: 1.875rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &:hover {
                    background-color: #EAEBEF;
                }
            }
        }
        i {
            font-size: 1rem;
            margin: 0rem auto 0rem auto;
        }
        p {
            padding-left: 0rem;
            color: #1f1f1f;
            font-weight: 500;
            line-height: 1rem;
            font-size: 0.75rem;
            margin: 0.375rem 0rem 0.375rem 0rem;
        }
    }
}
.right-content {
    width: 95%;
    height: 37.5rem;
    .search-bar {
        width: 100%;
        height: 3rem;
        display: flex;
        padding: 0.5rem 0.5rem;
        .logo {
            width: 20%;
            min-width: 16rem;
            height: 100%;
            img {
                width: 6.813rem;
                height: 2.5rem;
                padding-right: 1.875rem;
            }
        }
        .search-box {
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            margin-left: 0rem;
            i {
                position: absolute;
                padding-left: 1.25rem;
            }
            input {
                 width: 100%;
                height: 100%;
                padding: 0 1.25rem 0 2.813rem;
                border: none;
                border-radius: 1.25rem;
                background-color: #EAF1FB;
                &:focus {
                    background-color: #fff;
                    outline: none;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
                    border-radius: 1.25rem 1.25rem 0 0;     
                }  
                &:focus +.table-search {
                    display: block;
                }
                ::placeholder {
                    font-size: 1rem;
                }
            }
            .table-search {
                background-color: #fff;
                position: absolute;
                width: 100%;
                top: 100%;
                display: none;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 0 0 1.25rem 1.25rem;
                z-index: 1;
                .top-content {
                    height: 2.875rem;
                    display: flex;
                    align-items: center;
                    margin: auto 0;
                    border-top: #e1e5e9 solid 1px;
                    border-bottom: #e1e5e9 solid 1px;
                    button {
                        margin: 0 0.5rem ;
                        padding: 0.5rem 1rem;
                        border-radius: 5px;
                        border: #e1e5e9 solid 1px;
                        background-color: #fff;
                        font-size: 0.813rem;
                        &:hover {
                            background-color: #e7eaee;
                        }
                    }
                }
                .bottom-content {
                    ul {
                        padding-left: 0;
                        li {
                            list-style: none;
                            display: flex;
                            font-size: 0.875rem;
                            padding: 0.5rem;
                            border-left: white solid 2px;
                            &:hover {
                                background-color: #F2F6FC;
                                border-left: rgb(103, 103, 235) solid 2px;
                            }
                            .avatar-user {
                                width: 2.188rem;
                                height: 2.188rem;
                            }
                        }
                    }
                    p {
                        margin: 0;
                        padding-left: 1rem; 
                    }
                }
            }
        }
        .option {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: end;
            .status-active {
                width: 30%;
                height: 100%;
                min-width: 5.125rem;
                margin: auto 0rem auto 5px;
                display: flex;
                justify-content: end;
                position: relative; 
                button {
                    height: 100%;
                    border-radius: 1.563rem;
                    border: none;
                    background-color: #E4ECF8;
                    margin-top: 0rem;
                    &:hover {
                        background-color: #EAF1FB;
                    }
                    i:first-child {
                        color: green;
                        font-size: 0.75rem;
                        padding: 0rem 0.25rem;
                    }
                    i {
                        font-size: 0.625rem;
                    }
                } 
                .status-content {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    width: 150%;
                    background-color: #fff;
                    z-index: 1;
                    border-radius: 5px;
                    padding: 0.625rem 0;
                    p {
                        margin: 0;
                        :first-child {
                            font-size: 1rem;
                            color: black;
                        }
                    }
                    .status-option {
                        display: flex;
                        height: 3.125rem;
                        padding: 0 1rem;
                        &:hover {
                            background-color: #E8EAED;
                            border-bottom: #444746;
                        }
                        i {
                            align-items: center;
                            display: flex;
                            font-size: 0.875rem;
                        }
                        .circle-icon {
                            color: green;
                            margin-right: 1rem;
                        }
                        .ban-icon {
                            color: red;
                            margin-right: 1rem;
                        }
                        .away-icon {
                            margin-right: 1rem;
                        }
                        .check-icon {
                            margin-left: auto;
                        }
                        .status-option-content {
                            margin: auto 0;
                        }
                    }
                    .status-action {
                        display: flex;
                        height: 40px;
                        padding: 0px 1rem;
                        align-items: center;
                        border-top: #e1e5e9 solid 1px;
                        border-bottom: #e1e5e9 solid 1px;
                        .pen-icon {
                            margin-right: 1rem;
                        }
                        &:hover {
                            background-color: #E8EAED;
                        }
                    }
                    .describe {
                        font-size: 12px;
                        color: #AEB0AF;
                    }
                }  
                
            }
            .option-content {
                width: 10rem;
                display: flex;
                ul {
                    display: flex;
                    list-style: none;
                    padding: 0rem 0.313rem;
                    width: 100%;
                    margin: 0.625rem 0rem;
                    li {
                        list-style: none;
                        width: 2.5rem;
                        height: 2.5rem;
                        margin: 0rem 5px 0rem 5px;
                        font-size: 1.25rem;
                        color: gray;
                        position: relative;
                        i {
                            padding: 0.5rem;
                            border-radius: 50%;
                            &:hover {
                                background-color: #E8EAED;
                                .tooltiptext {
                                    visibility: visible;
                                }
                            }
                        }
                        .tooltiptext {
                            visibility: hidden;
                            position: absolute;
                            background-color: #444746;
                            color: #fff;    
                            padding: 0.125rem 0.625rem;
                            border-radius: 0.313rem;
                            z-index: 1;
                            top: 120%;
                            left: -20%;
                            font-size: 0.875rem;
                            white-space: nowrap;
                        }
                        &:hover {
                            .tooltiptext {
                                visibility: visible;
                            }
                        }
                    }
                }
            }
            .avatar {
                display: flex;
                width: 8.375rem;
                height: 100%;
                border: rgb(230, 222, 222) solid 1px;
                border-radius: 0.5rem;
                margin: auto 0rem auto 0rem;
                position: relative;
                .logo-fpt {
                    display: flex;
                    width: 5.625rem;
                    height: 2rem;
                    margin: auto 0rem auto 0rem;
                }
                .avatar-user {
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                    align-items: center;
                    padding: 0.25rem;
                    margin: auto 0rem auto 0rem;
                }
                .popover {
                    position: absolute;
                    right: 0%;
                    top: 130%;
                    z-index: 1;
                    background-color: #dde0e6;
                    width: 300%;
                    padding: 0px 1rem;
                    border-radius: 20px;
                    z-index: 2;
                    .name-user {
                        .user-infomation {
                            .popover-top {
                                padding-top: 18px;
                                p {
                                    margin: 0;
                                    font-size: 0.875rem;
                                    text-align: center; 
                                }
                                .managed {
                                    font-size: 0.75rem;
                                }
                            }
                            .popover-bottom {
                                text-align: center;
                                p {
                                    margin: 8px 0px;
                                }
                                button {
                                    margin: 1px 0px 18px 0px;
                                    background-color: #dde0e6;
                                    padding: 9px 23px;
                                    border-radius: 100px;
                                    border: 1px solid #747775;
                                    color: #0b57d0;
                                    font-size: 0.875rem;
                                    :hover {
                                        background-color: #e1e9f7;
                                    }
                                }
                                .avatar-user {
                                    height: 80px;
                                    width: 80px;
                                    margin-top: 22px;
                                }
                            }
                        }
                    }
                    .more-account {
                        display: flex;
                        .add-account {
                            width: 50%;
                            height: 58px;
                            padding: 0px 15px;
                            margin: 0px 1px;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            border-radius: 100px 0px 0px 100px;
                            i {
                                font-size: 1rem;
                                padding: 5px; 
                            }
                            p {
                                margin-left: 8px;
                            }
                            &:hover {
                                background-color: #bebebe;
                                i {
                                    background-color: #fff;
                                    border-radius: 50%;
                                }
                            }
                        }
                        .sign-out {
                            width: 50%;
                            height: 58px;
                            padding: 0px 15px;
                            margin: 0px 1px;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            border-radius: 0px 100px 100px 0px;
                            i {
                                font-size: 1rem;
                                padding: 5px; 
                            }
                            p {
                                margin-left: 8px;
                            }
                            &:hover {
                                background-color: #bebebe;
                            }
                        }
                    }
                    .policy {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        .add-account {
                            width: 50%;
                            height: 58px;
                            padding: 0px 15px;
                            margin: 0px 1px;
                            display: flex;
                            align-items: center; 
                            justify-content: end;

                        }
                        .sign-out {
                            width: 50%;
                            height: 58px;
                            padding: 0px 15px;
                            margin: 0px 1px;
                            display: flex;
                            align-items: center; 
                        }
                        p {
                            &:hover {
                                background-color: rgb(216, 210, 210);
                            }
                        }
                    }
                }
            }
        }
    }
    .content {
        width: 100%;
        height: 34.375rem;
        display: flex;
        .navbar-content {
            width: 20%;
            min-width: 256px;
            height: auto;
            button {
                height: 3.5rem;
                width: 8.625rem;
                background-color: #C1E7FF;
                border-radius: 0.938rem;
                margin: 0.625rem 0rem 0rem 0.625rem;
                border: none;
                font-weight: 500;
                i {
                    font-size: 1rem;
                    margin-right: 0.75rem;
                }
            }
            ul {
                list-style: none;
                padding: 0rem 0.5rem 0rem 0.625rem;
                li {
                    width: auto;
                    height: 2rem;
                    border-radius: 0.938rem;
                    display: flex;
                    align-items: center;
                    position: relative;
                    &:hover {
                        background-color: #EAEBEF;
                        .text-tooltip {
                            visibility: visible;
                        }
                    }
                    i {
                        padding: 0rem 0.75rem 0rem 1rem;
                    }
                    strong {
                        margin: 0rem 0.75rem 0rem auto;
                        font-size: 0.75rem;
                    }
                    .text-tooltip {
                        position: absolute;
                        left: 100%;
                        background-color: #444746;
                        padding: 4px;
                        border-radius: 5px;
                        font-size: 12px;
                        color: #fff;
                        visibility: hidden;
                    }
                }
                li:first-child {
                    background-color: #D3E3FD;
                }
            }
            .label {
                display: flex;
                justify-content: space-between;
                padding: 0rem 0.625rem 0rem 1.625rem;
                i {
                    margin-top: auto;
                    margin-bottom: auto; 
                }
            }
        }
        .email-content {
            flex-grow: 1;
            width: 80%;
            .email-option {
                margin: 0rem;
                height: 1.25rem;
                padding: 0.625rem 2.5rem 0.625rem 1.125rem;
                display: flex;
                align-items: center;
                border-radius: 1.25rem 1.25rem 0rem 0rem;
                background-color: #fff;
                input {
                    width: 14px;
                    height: 14px;
                    margin: 0rem 2px 0rem 0.625rem;
                }
                button {
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                    border: none;
                    background-color: #fff;
                    color: #AEB0AF;
                    :last-child {
                        color: #1f1f1f;
                        &:hover {
                            background-color: #F2F2F2;
                        }
                    }
                    .left-icon {
                        &:hover {
                            .text-tooltip-pagination {
                                visibility: visible;
                            }
                        }
                    }
                    .right-icon {
                        &:hover {
                            .text-tooltip-pagination {
                                visibility: visible;
                            }
                        }
                    }
                    i {
                        .text-tooltip-pagination {
                            font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
                            position: absolute;
                            background-color: #444746;
                            font-size: 14px;
                            padding: 5px 8px;
                            color: #fff;
                            border-radius: 5px;
                            top: 19%;
                            right: 3%;
                            visibility: hidden;
                        }
                    }
                    
                }
                .scrooll-icon {
                    padding: 10px 4px;
                    margin-right: 14px;
                    position: relative;
                    font-size: 0.625rem;
                    margin-right: 1.875rem;
                    &:hover {
                        background-color: #F2F2F2;
                        border-radius: 5px;
                        .text-tooltip {
                            visibility: visible;
                        }
                    }
                }
                .arrow-icon {
                    border-radius: 50%;
                    padding: 8px;
                    margin-right: 14px;
                    position: relative;
                    font-size: 0.875rem;
                    color: #444746;
                    margin-right: 1.875rem;
                    &:hover {
                        background-color: #F2F2F2;
                        .text-tooltip {
                            visibility: visible;
                        }
                    }
                }
                .vertical-icon {
                    border-radius: 50%;
                    padding: 8px 14px;
                    position: relative;
                    &:hover {
                        background-color: #F2F2F2;
                        .text-tooltip {
                            visibility: visible;
                        }
                    }
                }
                .pagination {
                    padding: 2px 1rem;
                    border-radius: 5px;
                    position: relative;
                    margin: 0rem 0.313rem 0rem auto;    
                    font-size: 0.75rem;
                    color: #5e5e5e;
                    width: auto;
                    &:hover {
                        background-color: #F2F2F2;
                        div {
                            visibility: visible;
                        }
                    }
                    .pagination-option {
                        position: absolute;
                        background-color: #FFF;
                        width: 150%;
                        text-align: center;
                        left: 0%;
                        visibility: hidden;
                        z-index: 1;
                        p {
                            margin: 0px;
                            height: 40px;
                            display: flex;
                            margin: auto 0px;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                background-color: #F2F2F2;
                            } 
                        }
                        .newest-text {
                            color: #CCCCCC;
                        }
                    }
                }
                .text-tooltip {
                    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
                    position: absolute;
                    right: 0%; 
                    top: 100%; 
                    background-color: #444746;
                    font-size: 14px;
                    padding: 5px 8px;
                    color: #fff;
                    border-radius: 5px;
                    visibility: hidden;
                }
            }
            ul {
                li {
                    width: 99%;
                    height: 1.25rem;
                    background-color: #F2F6FC;
                    padding: 0.625rem 0rem;
                    display: flex;
                    align-items: center;
                    border-bottom: #e1e5e9 solid 1px;
                    border-top : transparent solid 2px;
                    border-left: transparent solid 2px;
                    border-right: transparent solid 2px;
                    overflow: hidden;
                    &:hover {
                        border: #DADCE0 solid 2px;
                        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
                        strong {
                            visibility: hidden;
                            width: 0px;
                        }
                        .option-email-content {
                            i {
                                visibility: visible;
                                width: 2rem;
                            }
                        }
                    }
                    input {
                        margin-left: 1.875rem;
                    }
                    i {
                        margin: 0rem 0.313rem;
                    }
                    p {
                        margin: 0rem 0.625rem 0rem 0.625rem;
                    }
                    strong {
                        margin: 0rem 0.625rem 0rem 1.875rem;
                        font-size: 0.75rem;
                        width: 4.5rem;
                        text-align: end;
                    }
                    .name-email {
                        width: 10.5rem;
                        margin-right: 2rem;
                    }
                    span {
                        width: 70%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    .option-email-content {
                        display: flex;
                        i {
                            border-radius: 50%;
                            width: 2rem;
                            height: 2rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            visibility: hidden;
                            width: 0px;
                            &:hover {
                                background-color: #EAEBEF;
                            }
                        }
                        .icon-down {
                            // font-size: 0.625rem;
                            // margin-right: 1.875rem;
                        }
                    }
                }
                .email-footer {
                    height: 2.5rem;
                    padding: 1rem 0rem 1rem 0rem;
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.75rem;
                    color: #5f6368;
                    margin-left: auto;
                    border-radius: 0rem 0rem 1.25 1.25rem;
                    .using-memory {
                        padding-left: 1rem;
                    }
                    .details {
                        text-align: end;
                        padding-right: 1rem;
                    }
                }
            }
        }
    }
}
#toggleStatus {
    display: none;
}

#toggleStatus:checked ~ .status-content {
    display: block;
}

#toggleStatus:not(:checked) ~ .status-content {
    display: none;
}
.popover {
    display: none;
}

.popover.active {
    display: block;
}